<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
      	<meta charset="UTF-8"/>
	    <title>短信平台</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="baidu-site-verification" content="zNwez22Bcq"/>
	    <meta name="google-site-verification" content="6hC_46bMT6_bGxmL_Ec5V_7xnPSnQBhQBl8y3MtfoFc" />
	    <meta name="Baiduspider" content="noarchive"/>
	    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>  
    	<link rel="shortcut icon" th:href="${oem.tab_logo_url}" />
		<link rel='stylesheet' href='css/reset.css' th:href="@{/css/reset.css?v=1.0}"/>
		<link rel='stylesheet' href='css/base.css' th:href="@{/css/base.css?v=1.0}"/>
		<link rel='stylesheet' href='css/oem.css' th:href="@{/css/oem.css?v=1.0}"/>
		<link rel='stylesheet' th:href="@{/css/ie10.css}" />
		<link rel='stylesheet' href='/css/main.css' th:href="@{/css/main.css?v=1.0}"/>
		<link rel="stylesheet" href="/font/iconfont.css" th:href="@{/font/iconfont.css?v=1.0}">
		<!--[if !IE]> -->
		<script src="js/jquery-3.0.0.min.js"  th:src="@{/js/jquery-3.0.0.min.js}"></script>
		<!-- <![endif]-->
		<!--[if IE]>
		<script th:src="@{/js/jquery-1.11.3.min.js}" ></script>
		<link rel='stylesheet' th:href="@{/css/ie9.css}" />
		<![endif]-->
		<script src="/js/layer/layer.js" th:src="@{/js/layer/layer.js}"></script>
		<script src="/js/common.js" th:src="@{/js/common.js}"></script>
		<script src="/js/cityCascade/jquery.cityselect.js" th:src="@{/js/cityCascade/jquery.cityselect.js}"></script>
     	
		<script  th:inline="javascript">
        	var ctx = [[@{/}]]; //需标注th:inline才能使用
		</script>
    </head>
    
    <body  th:style="'color:' + ${oem.navigation_text_color} + ';'">
	<!--[if IE]>
 	<div style="background:yellow;width:100%;text-align:center;"><span style="color:red">您的浏览器版本过低，支持浏览器：Chrome 41+、Firefox 45+、IE 10+</span></div>
 	<![endif]--> 
    
        <div id="wrap" class="clearfix" >
        
      <!-- 左侧导航栏 bf-->
      <div id="sidebar"   th:replace="console :: #sidebar">
        <div class="h100">
          <div class="logo"> 
            <a href="javascript:;"><img src="${ctx}/img/logo2.png"  /></a>
          </div>
          <div class="nav">
            <ul>
              <li><a href="${ctx}/order/getProductListByClientId" >首页</a></li>
              <li>
                <a href="javascript:void(0)">业务管理<i></i></a>
                <ul class="sub-nav">
                  <li><a href="${ctx}/sms/page">短信发送<span></span></a></li>
                  <li><a href="${ctx}/bussiness/interShortMessage" >国际短信报价<span></span></a></li>
                  <li><a href="${ctx}/bussiness/bussinessData">数据统计<span></span></a></li>
                  <li><a href="${ctx}/bussiness/query-sms-record">发送记录<span></span></a></li>
                  <li><a href="${ctx}/bussiness/expireSMS">短信到期<span></span></a></li>
                </ul>
              </li> 
              <li>
                <a href="javascript:void(0)" >账户管理<i></i></a>
                <ul class="sub-nav" style="display:block;">
                  <li><a href="${ctx}/account/accountInformation" class="cur">账户资料<span></span></a></li>
                  <li><a href="${ctx}/account/securityInfo">账户安全<span></span></a></li>
                </ul>
              </li>
              <li>
                <a  href="${ctx}/helpCenter/smsAccessIntroduce">帮助中心</a> 
              </li>
            </ul>
          </div>
          <div class="contact-info"> 
            联系代理商<br/>
            138777777777<br/>
            服务热线<br/>
            400-777-9968<br/> 
          </div> 
        </div>
      </div>
      
      <!-- 左侧导航栏 ef -->
  
      <!-- 右边内容 bf -->
      <div id="main">
        <div class="main-con">
          <div class="top idx-top clearfix">
            <h1>账户管理</h1>
            <div class="top-r ft-r" th:include="console :: user">
              <span class="right_border_line">ID: b00000</span>
              <a href="${ctx}/quit"><span class="glyphicon glyphicon-off"></span> 退出</a>
            </div>
          </div> 
          <div class="con-out">

          	 <div class="crumbs">
				 <a href="javascript:;" class="active">基本资料</a>
				 <a href="account/cerInfo" th:if="${session.LOGIN_USER_INFO.smsfrom eq 6}" th:href="@{/account/qualification}">资质信息</a>
			 </div>
			<div class="content acount-content">
				<div class="con-border clearfix">
					<form id="mainForm">
          			<input type="hidden" id="clientId" name="clientId" th:value="${accountInfo.clientId}" />
					<dl class="info1" style="width:40%;margin-left:10%;" >
						<dt>客户ID：</dt>
						<dd th:text="${accountInfo.clientId}"></dd>
						<dt>客户名称：</dt>
						<dd id='dd-name' th:text="${accountInfo.name}" style="word-break:break-all;width:300px;"></dd>
						<dt>客户账户状态：</dt>
						<dd  th:switch="${accountInfo.status}">
						  <span th:case="0">注册未激活</span>
						  <span th:case="1">注册完成</span>
						  <span th:case="5">冻结</span>
						  <span th:case="6">注销</span>
						  <span th:case="7">锁定</span>
						</dd>
						<dt>创建时间：</dt>
						<dd th:text="${#calendars.format(accountInfo.createtime,'yyyy-MM-dd HH:mm:ss')}">
							2016-11-26 16:45
						</dd>
						<dt>认证状态：</dt>
						<dd th:switch="${accountInfo.oauthStatus}">
						 	<span th:case="2">待认证</span>
							<span th:case="3">已认证</span>
							<span th:case="4">认证不通过</span>
						</dd>
						<dt>认证时间：</dt>
						<dd th:text="${#calendars.format(accountInfo.oauthDate,'yyyy-MM-dd HH:mm:ss')}" th:if="${accountInfo.oauthDate}"></dd>
						<dt>手机：</dt>
						<dd id='dd-mobile' th:text="${accountInfo.mobile }" style="word-break:break-all;width:300px;"></dd>
						<dt>邮件：</dt>
						<dd id='dd-email' th:text="${accountInfo.email}" style="word-break:break-all;width:300px;"></dd>
						<dt th:switch="${accountInfo.clientType}">
							<span th:case="1">真实姓名：</span>
							<span th:case="2">公司名称：</span>
						</dt>
						<dd th:text="${accountInfo.realname }"></dd>
						<dt th:switch="${accountInfo.clientType}">
							<span th:case="1">联系地址：</span>
							<span th:case="2">公司地址：</span>
						</dt>
						<!--<dd id="dd-addr" th:text="${accountInfo.province}+' '+${accountInfo.city}+' '+${accountInfo.area}+' '+${accountInfo.address}"   style="word-break:break-all;width:300px;"></dd>-->
						<dd id="dd-addr" style="word-break:break-all;width:300px;">
							<span th:text="${accountInfo.province}+' '+${accountInfo.city}+' '+${accountInfo.area}"></span>
							<span th:text="${accountInfo.address}"></span>
						</dd>

          				<input type="hidden" id="province" th:value="${accountInfo.province}" />
          				<input type="hidden" id="city" th:value="${accountInfo.city}" />
          				<input type="hidden" id="area" th:value="${accountInfo.area}" />
          				<input type="hidden" id="address" th:value="${accountInfo.address}" />
					</dl>
					<dl class="info2" style="width:45%;">
						<dt>代理商ID：</dt>
						<dd th:text="${accountInfo.agentId }"></dd>
						<dt>是否需要状态报告：</dt>
						<dd th:switch="${accountInfo.needreport}">
							<span th:case="0">不需要</span>
							<span th:case="1">需要简单状态报告</span>
							<span th:case="2">需要透传状态报告</span>
							<span th:case="3">用户来拉取状态报告</span>
						</dd>
						<dt>是否需要审核：</dt>
						<dd th:switch="${accountInfo.needaudit}">
							<span th:case="0">不需要</span>
							<span th:case="1">营销需要</span>
							<span th:case="2">全部需要</span>
							<span th:case="3">关键字审核</span>
						</dd>
						<dt>上行：</dt>
						<dd th:switch="${accountInfo.needmo}">
						  <span th:case="0">不需要</span>
						  <span th:case="1">需要</span>
						  <span th:case="3">用户拉取上行</span>
						</dd>
						<dt>白名单IP：<input type="hidden" id="hid-ip" th:value="${accountInfo.ip }"/></dt>
						<dd id='dd-ip'></dd>

						<div th:if="${session.LOGIN_USER_INFO.smsfrom eq 6}">
							<dt>状态报告回调地址：</dt>
							<dd id='dd-deliveryurl'  th:text="${accountInfo.deliveryurl }" style="word-break:break-all;width:370px;"></dd>
							<input type="hidden" id="dl" th:value="${accountInfo.deliveryurl}"/>
							<dt>上行回调地址：</dt>
							<dd id='dd-mourl' th:text="${accountInfo.mourl}"  style="word-break:break-all;width:300px;"></dd>
							<input type="hidden" id="ml" th:value="${accountInfo.mourl}"/>
						</div>
						<div th:if="${session.LOGIN_USER_INFO.agentType eq 2 and session.LOGIN_USER_INFO.smsfrom eq 6}">
							<dt>通知回调地址：</dt>
							<dd id='dd-noticeurl' th:text="${accountInfo.noticeurl}"  style="word-break:break-all;width:300px;"></dd>
							<input type="hidden" id="nl" th:value="${accountInfo.noticeurl}"/>
						</div>
						<div th:if="${session.LOGIN_USER_INFO.smsfrom eq 4}">
							<dt>SGIP协议-客户上行IP：</dt>
							<dd id='dd-moip'  th:text="${accountInfo.moip }" style="word-break:break-all;width:300px;"></dd>
							<input type="hidden" id="mp" th:value="${accountInfo.deliveryurl}"/>
							<dt>SGIP协议-客户上行端口：</dt>
							<dd id='dd-moport' th:text="${accountInfo.moport}"  style="word-break:break-all;width:300px;"></dd>
							<input type="hidden" id="mt" th:value="${accountInfo.moport}"/>
							<dt>SGIP协议-客户节点编码：</dt>
							<dd id='dd-nodeid' th:text="${accountInfo.nodeid}"  style="word-break:break-all;width:300px;"></dd>
							<input type="hidden" id="nd" th:value="${accountInfo.nodeid}"/>
						</div>

						<dt>自扩展：</dt>
						<dd  th:switch="${accountInfo.needextend}">
						  <span th:case="0">不支持</span>
						  <span th:case="1">支持</span>
						</dd>
						<dt>备注：</dt>
						<dd th:text="${accountInfo.remarks }"></dd>
					</dl>
					</form>
				</div>
				<div class="modify-info">
				<a href="javascript:;" onclick="toUpdate(this)" class="green-btn">修改资料</a>
				<a href="javascript:;" id="back" style="visibility:hidden" onclick="back(this)" class="green-btn">返回</a>
				</div>

			</div>
            <div class="btm btm-copyright " th:include="console :: footer">
              <p>© 2016 szchuzhong.com 版权所有 粤ICP备B2-20160275号</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 右边内容 ef -->
    </div>
    </body>

	<script src="/js/validate/smsp.validate.js" th:src="@{/js/validate/smsp.validate.js}"></script>
	<script src="/js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	var ip = '';
	var nameFlag = true;
	var mobileFlag = true;
	var emailFlag = true;
	var addrFlag = true;
	var ipFlag = true;
	var portFlag = true;
	var urlFlag = true;
	var moUrlFlag = true;
    var noticeUrlFlag = true;
    var smsfrom = [[${session.LOGIN_USER_INFO.smsfrom}]];
    var agentType = [[${session.LOGIN_USER_INFO.agentType}]];
    var  needmo = [[${accountInfo.needmo}]];
    var  needreport = [[${accountInfo.needreport}]];
    $(function(){
		var strs= new Array(); //定义一数组
		strs=$("#hid-ip").val().split(","); //字符分割
		for (i=0;i<strs.length ;i++ ){
			if(strs[i] != null && strs[i] != '*'){
				ip += strs[i] + ',';
			}
		}
		if(ip != ''){
			ip = ip.substring(0, ip.lastIndexOf(','));
		}
		$("#dd-ip").text(ip);
	});

	function toUpdate(btn){
		var prov = $('#province').val();
		var city =$('#city').val();
		var dist = $('#area').val() ? $('#area').val(): 'none';
		$(btn).text("确认修改");
		$(btn).attr('onclick','updateInfo(this)');
		$("#back").removeAttr("style");
		if(agentType!=2){ $("#dd-name").html("<input type='text' id='name' name='name' placeholder='请输入名称' onblur='checkName()' value='"+$("#dd-name").text()+"'/><span class='error'></span>");
            $("#dd-mobile").html("<input type='text' id='mobile' name='mobile' placeholder='请输入手机号码' onblur='checkMobile()' value='"+$("#dd-mobile").text()+"'/><span class='error'></span>");
            $("#dd-email").html("<input type='text' id='email' name='email' placeholder='请输入邮箱' onblur='checkEmail()' value='"+ $("#dd-email").text()+"'/><span class='error'></span>");
		}
        if(agentType==2){
		    $("#dd-noticeurl").html("<input type='text' id='noticeurl' name='noticeurl' placeholder='请输入回调地址 http(s)://' onblur='checkNoticeUrl()' value='"+$("#dd-noticeurl").text()+"'/><span class='error'></span>");
        }
		if(smsfrom == 6){
            $("#dd-deliveryurl").html("<input type='text' id='deliveryurl' name='deliveryurl' placeholder='请输入回调地址 http(s)://' onblur='checkUrl()' value='"+$("#dd-deliveryurl").text()+"'/><span class='error'></span>");
            $("#dd-mourl").html("<input type='text' id='mourl' name='mourl' placeholder='请输入回调地址 http(s)://' onblur='checkMoUrl()' value='"+$("#dd-mourl").text()+"'/><span class='error'></span>");

        }else if(smsfrom == 4){
            $("#dd-moip").html("<input type='text' id='moip' name='moip' placeholder='请输入上行IP' onblur='checkIp(this)' value='"+$("#dd-moip").text()+"'/><span class='error'></span>");
            $("#dd-moport").html("<input type='text' id='moport' name='moport' placeholder='请输入上行端口' onblur='checkPort(this)' value='"+$("#dd-moport").text()+"'/><span class='error'></span>");
            $("#dd-nodeid").html("<input type='text' id='nodeid' name='nodeid' placeholder='请输入节点编码' onblur='checkNodeid(this)' value='"+$("#dd-nodeid").text()+"'/><span class='error'></span>");
		}

        $("#dd-addr").html("<select class='prov' id='province' name='province'></select><select class='city' id='city' name='city' disabled='disabled'></select><select class='dist' id='area' name='area' disabled='disabled'></select><br/><input type='text' id='address' name='address' placeholder='详细地址（字数不能超过200）' value='"+$('#address').val()+"' oninput='checkAddr()' onpropertychange='checkAddr()'/><span class='error'></span>");
		// 省市区三级联动(默认地址)
		$("#dd-addr").citySelect({prov:prov, city:city, dist:dist});
	}
	
	function back(btn){
		$(btn).attr("disabled",true);
		window.location.reload();
	}

	function checkName() {
        nameFlag = true;
        if(/^[^\s.]{1,50}$/.test($("#name").val())){
            $("#name ~ .error").html("");
            nameFlag = true;
        }else {
            $("#name ~ .error").html("名称不为空,且不能超过50个字符");
            nameFlag = false;
        }
		return nameFlag;
    }

    function checkMobile() {
	    if(Validate.isValidMobile($("#mobile").val())){
            $("#mobile ~ .error").html("");
            mobileFlag = true;
		}else{
            $("#mobile ~ .error").html("请输入正确的手机号码");
            mobileFlag = false;
        }
		return mobileFlag;
    }

    function checkEmail() {
        if(Validate.isValidEmail($("#email").val())){
            $("#email ~ .error").html("");
            emailFlag = true;
        }else{
            $("#email ~ .error").html("请输入正确的邮箱");
            emailFlag = false;
		}
        return emailFlag
    }

	function checkAddr(){
		var str = $("#address").val();
		addrFlag = false;
		if(str.trim() == ''){
			$("#address ~ .error").html("详细地址不能为空");
			return addrFlag;
		}
		if(str.length > 200){
			$("#address ~ .error").html("字数不能超过200");
			return addrFlag;
		}
		$("#address ~ .error").html("");
		addrFlag = true;
		return addrFlag;
	}
	
	function checkIp(thiss){
		var str = thiss.value;
		ipFlag = false;
		if(str.trim() == ''){
            $(thiss).siblings('.error').html("IP地址不能为空");
			return ipFlag;
		}
		if(str.length > 512){
            $(thiss).siblings('.error').html("IP地址长度不能超过512");
			return ipFlag;
		}
		var ipArray = str.split(",");
		for ( var pos in ipArray) {
			var ip = $.trim(ipArray[pos]);
			var reg = /^(((1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|[1-9])\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d|\*|\d+\/\d+)))$/;
			if(!reg.test(ip)){
//				$("#ip ~ .error").html("请输入合法的IP地址");
				$(thiss).siblings('.error').html("请输入合法的IP地址");
				return ipFlag;
			}
		}
        $(thiss).siblings('.error').html("");
		ipFlag = true;
		return ipFlag;
	}

	function checkPort(thiss){
		var str = thiss.value;
        portFlag = false;
		if(str.trim() == ''){
            $(thiss).siblings('.error').html("端口号不能为空");
			return portFlag;
		}
		if(!/^\d+$/.test(str)){
            $(thiss).siblings('.error').html("端口号只能是数字");
			return portFlag;
		}
		if(str > 65535 || str < 1){
            $(thiss).siblings('.error').html("端口号取值范围 (0,65536]");
			return portFlag;
		}

        $(thiss).siblings('.error').html("");
        portFlag = true;
		return portFlag;
	}

	function checkNodeid(thiss){
		var str = thiss.value;
        portFlag = false;
		if(str.trim() == ''){
            $(thiss).siblings('.error').html("节点编码不能为空");
			return portFlag;
		}
		if(!/^\d{1,10}$/.test(str)){
            $(thiss).siblings('.error').html("节点编码只能是1~10位的数字");
			return portFlag;
		}

        $(thiss).siblings('.error').html("");
        portFlag = true;
		return portFlag;
	}

	function checkUrl(){
		var value = $("#deliveryurl").val();
		urlFlag = false;
		if(value.trim() == ''){
		    if(needreport==0){
                urlFlag = true;
        }else{
                urlFlag = false;
                $("#deliveryurl ~ .error").html("回调地址不能为空");
            }
			return urlFlag;
		}
		if(value.length > 100){
			$("#deliveryurl ~ .error").html("回调地址长度不能超过100");
			return urlFlag;
		}
		//下面的代码中应用了转义字符"\"输出一个字符"/"
		var Expression = /^http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w-] .\/?%&=*)?/;
		var objExp = new RegExp(Expression);
		if(!objExp.test(value)){
			$("#deliveryurl ~ .error").html("请输入合法的回调地址");
			return urlFlag;
		}
		$("#deliveryurl ~ .error").html("");
		urlFlag = true;
		return urlFlag;
	}

	function checkMoUrl(){
		var value = $("#mourl").val();
		moUrlFlag = false;
		if(value.trim() == ''){
            if(needmo==0){
                moUrlFlag = true;
            }else{
                moUrlFlag = false;
                $("#mourl ~ .error").html("回调地址不能为空");
            }
			return moUrlFlag;
		}
		if(value.length > 100){
			$("#mourl ~ .error").html("回调地址长度不能超过100");
			return moUrlFlag;
		}
		//下面的代码中应用了转义字符"\"输出一个字符"/"
		var Expression = /^http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w-] .\/?%&=*)?/;
		var objExp = new RegExp(Expression);
		if(!objExp.test(value)){
			$("#mourl ~ .error").html("请输入合法的回调地址");
			return moUrlFlag;
		}
		$("#mourl ~ .error").html("");
		moUrlFlag = true;
		return moUrlFlag;
	}
    function checkNoticeUrl(){
        var value = $("#noticeurl").val();
        noticeUrlFlag = false;
        if(value.trim() == ''){
            if(needmo==0){
                noticeUrlFlag = true;
            }else{
                noticeUrlFlag = false;
                $("#noticeurl ~ .error").html("回调地址不能为空");
            }
            return noticeUrlFlag;
        }
        if(value.length > 100){
            $("#noticeurl ~ .error").html("回调地址长度不能超过100");
            return noticeUrlFlag;
        }
        //下面的代码中应用了转义字符"\"输出一个字符"/"
        var Expression = /^http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w-] .\/?%&=*)?/;
        var objExp = new RegExp(Expression);
        if(!objExp.test(value)){
            $("#noticeurl ~ .error").html("请输入合法的回调地址");
            return noticeUrlFlag;
        }
        $("#noticeurl ~ .error").html("");
        noticeUrlFlag = true;
        return noticeUrlFlag;
    }

  /* function checkNoticeUrl(){
        var value = $("#noticeurl").val();
        noticeUrlFlag = true;
        if(value.trim() == ''){
            noticeUrlFlag = false;
            return noticeUrlFlag;
        }
        if(value.length > 100){
            $("#noticeurl ~ .error").html("回调地址长度不能超过100");
            return noticeUrlFlag;
        }
        //下面的代码中应用了转义字符"\"输出一个字符"/"
        var Expression = /^http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w-] .\/?%&=*)?/;
        var objExp = new RegExp(Expression);
        if(!objExp.test(value)){
            $("#noticeurl ~ .error").html("请输入合法的回调地址");
            return noticeUrlFlag;
        }
        $("#noticeurl ~ .error").html("");
        noticeUrlFlag = false;
        return noticeUrlFlag;
    }*/

	function updateInfo(btn){
        if(agentType!=2){
		checkName();
		checkMobile();
		checkEmail();
	}
		checkAddr();
        if(smsfrom == 6){
        if(agentType==2){
            checkNoticeUrl();
        }
            checkUrl();
            checkMoUrl();
        }else if(smsfrom == 4){
            checkIp($('#moip')[0]);
            checkPort($('#moport')[0]);
            checkNodeid($('#nodeid')[0]);
        }
		//if(agentType!=2){
            if (!nameFlag || !mobileFlag || !emailFlag || !addrFlag || !ipFlag || !portFlag || !urlFlag || !moUrlFlag || !noticeUrlFlag) {
                return false;
            }
      //  }
		/*else{
            if (!addrFlag || !ipFlag || !portFlag || !urlFlag || !moUrlFlag || !noticeUrlFlag) {
                return false;
            }
        }*/
        $(btn).attr("disabled",true);
        var url = '/account/update';
		layer.confirm("确认修改?", function(index){
            var options = {
                success : function(data) {
                    //var data = eval("(" + data + ")");
                    $(btn).attr("disabled", false);
                    if(data == ""){
                        //session超时
                        return;
                    }
                    if (data.result == null) {
                        layer.msg("服务器错误，请联系管理员" , {icon: 2});
                        return;
                    }
                    if(data.result == "success"){
                        layer.alert(data.msg, {icon: 1},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.alert(data.msg, {icon: 2});
                    }
                },
                async: true,
                url :  url,
                type : "post",
                timeout : 30000
            };
            $("#mainForm").ajaxSubmit(options);
        });
	}
	/*]]>*/
	</script>
</html>