<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>短信平台</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="baidu-site-verification" content="zNwez22Bcq" />
		<meta name="google-site-verification"
			content="6hC_46bMT6_bGxmL_Ec5V_7xnPSnQBhQBl8y3MtfoFc" />
		<meta name="Baiduspider" content="noarchive"/>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/> 
    	<link rel="shortcut icon" th:href="${oem.tab_logo_url}" />
		<link rel='stylesheet' href='css/reset.css' th:href="@{/css/reset.css?v=1.0}"/>
		<link rel='stylesheet' href='css/base.css' th:href="@{/css/base.css?v=1.0}"/>
		<link rel='stylesheet' href='css/oem.css' th:href="@{/css/oem.css?v=1.0}"/>
		<link rel='stylesheet' th:href="@{/css/ie10.css}" />
		<link rel='stylesheet' href='/css/main.css' th:href="@{/css/main.css?v=1.0}"/>
		<link rel="stylesheet" href="/font/iconfont.css" th:href="@{/font/iconfont.css?v=1.0}">
		<!--[if !IE]> -->
		<script src="js/jquery-3.0.0.min.js"  th:src="@{/js/jquery-3.0.0.min.js}"></script>
		<!-- <![endif]-->
		<!--[if IE]>
		<script th:src="@{/js/jquery-1.11.3.min.js}" ></script>
		<link rel='stylesheet' th:href="@{/css/ie9.css}" />
		<![endif]-->
		<script src="js/jquery-3.0.0.min.js"  th:src="@{/js/validate/jquery.validate.min.js}"></script>
		<script src="js/jquery-3.0.0.min.js"  th:src="@{/js/common.js}"></script>
		<script src="js/jquery-3.0.0.min.js"  th:src="@{/js/layer/layer.js}"></script>
		<script src="js/jquery-3.0.0.min.js"  th:src="@{/js/validate/smsp.validate.js}"></script>
	
	</head>
<body  th:style="'color:' + ${oem.navigation_text_color} + ';'">
	<div id="change-pass">
		<div class="change-con">
			<h2>修改密码</h2>
			<form class="form-horizontal" name="basic_validate" id="mainForm"
				novalidate="novalidate">
				<input type="hidden" value="1" id="flag" /> <input type="hidden"
					value="${clientId }" id="clientId" />
				<div class="control-group clearfix">
					<label class="control-label">原密码</label>
					<input type="password" id="oldPwd" name="oldPwd" maxlength="20" autocomplete="off"
							placeholder="请输入原密码"  />
					<span class="error"></span>
				</div>
				<div class="control-group clearfix">
					<label class="control-label">新密码</label>
					<input type="password" id="password1" name="password1" autocomplete="off"
							maxlength="20" placeholder="请输入8到12位新密码" />
					<span class="error"></span>
				</div>
				<div class="control-group clearfix">
					<label class="control-label">确认密码</label>
					<input type="password" name="password2" maxlength="20" autocomplete="off"
						id="password2" placeholder="请再输入一次新密码" />
					<span class="error" id="msg"></span>
				</div>
				<div class="form-actions">
					<input type="button" onclick="save(this)" value="确认修改"
						class="btn btn-success" />
					<input type="button" id="closeWindow" value="取消"
						class="btn btn-error" />
				</div>
			</form>
		</div>

	</div>

	<script th:inline="javascript">
	/*<![CDATA[*/

		var flagPwd1 = false;
		var flagPwd2 = false;
		var flagPwd3 = false;
		function checkoldpwd(){
			var oldPwd = $("#oldPwd").val();
			flagPwd1 = false;
			if(oldPwd.trim() == ''){
				$("#oldPwd ~ span").text("密码不能为空");
				return flagPwd1;
			}
			$("#oldPwd ~ span").text("");
			flagPwd1 = true;
		}
		
		function newPwd1(){
			var val = $("#password1").val();
			flagPwd2 = false;
			if(val.trim() == ''){
				$('#password1 ~ span').text("新密码不能为空");
				return flagPwd2;
			}
			
			if(!/^\w*$/.test(val)){
				$('#password1 ~ span').text("密码不能包含特殊字符或空格");
				return flagPwd2;
			}
			
			if(!/^\w{8,12}$/.test(val)){
				$('#password1 ~ span').text("密码长度为8-12位");
				return flagPwd2;
			}
			
			if(/^\d+$/.test(val)){
				$('#password1 ~ span').text("密码不能是全数字");
				return flagPwd2;
			}
			
			if(/^[a-z]+$/i.test(val))  
		    {  
				$('#password1 ~ span').text("密码不能是全字母");
				return flagPwd2;
		    }  
			
		 	if(!/^[A-Za-z0-9]+$/.test(val)&& val != '')  
		    {  
		 		$('#password1 ~ span').text("密码只能包含数字和字母");
		 		return flagPwd2;
		    }  
		 	if(val != '' && val ==  $("#oldPwd").val())  
		    {  
		 		$('#password1 ~ span').text("新密码不能与旧密码相同");
		 		return flagPwd2;
		    }  
		 	
		 	$('#password1 ~ span ').text("");
		 	flagPwd2 = true;
			var val2 = $("#password2").val();
			if(val2 != ''){
		 		flagPwd3 = false;
				if(val != val2){
			 		$('#password2 ~ span').text("两次密码不一致");
					return flagPwd3; 
				}else{
			 		$('#password2 ~ span').text("");
			 		flagPwd3 = true;
				}
				
				
			}
		 	
	 		return flagPwd2;
		 	
		}
		
		function newPwd2(){
			var password1 = $("#password1").val();
			var password2 = $("#password2").val();
	 		flagPwd3 = false;
			if(password1 != password2){
		 		$('#password2 ~ span').text("两次密码不一致");
				return flagPwd3;					
			}
		 	$('#password2 ~ span').text("");
		 	flagPwd3 = true;
		 	return flagPwd3;
		 	
		}
		
		$(function() {
			$("#oldPwd").bind('input propertychange', function(){
				checkoldpwd();	
			});
			$("#password1").bind('input propertychange', function(){
				newPwd1();	
			});
			
			$("#password2").bind('input propertychange', function(){
				newPwd2();
			});
	
			var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
			$('#closeWindow').on('click', function(){
			    parent.layer.close(index); //执行关闭
			});
		});
	
		function save(btn) {
			checkoldpwd();	
			newPwd1();	
			newPwd2();
			if (!flagPwd1 || !flagPwd2 || !flagPwd3) return;
			var oldPwd = $("input[name='oldPwd']").val();
			var password1 = $("input[name='password1']").val();
			var clientId = $("#clientId").val();
			layer.confirm("确认修改密码?", function(index){
				$(btn).attr("disabled", true);
			  	layer.close(index);
				var index = parent.layer.getFrameIndex(window.name);
				$.ajax({
					type : "post",
					url : /*[[@{/account/updatePassword}]]*/"${ctx}/account/updatePassword",
					async: false,
					data : {
						clientId : clientId,
						oldPwd : oldPwd,
						password1 :password1
					},
					complete:function(XMLHttpRequest,textStatus){ 
				         var sessionstatus=XMLHttpRequest.getResponseHeader("sessionstatus"); //通过XMLHttpRequest取得响应头，sessionstatus，  
					         if(sessionstatus=="timeout"){ 
//					        	alert("登录超时,请重新登录！");
					            //如果超时就处理 ，指定要跳转的页面  
					        	 parent.location.reload();
					         }
				          },
					success : function(data) {
                       // var data = eval("(" + data + ")");
						$(btn).attr("disabled", false);
						if(data == ''){ // session超时 
							parent.location.reload();
						}else if (data == null) {
							$("#msg").text("服务器错误，请联系管理员").show();
							return;
						}else if(data.result == 'success'){
							$("#msg").text(data.msg).show();
							window.setTimeout(function(){
                                parent.location.href = /*[[@{/login}]]*/"${ctx}/quit";
							}, 1500);

						}else{
							$("#msg").text(data.msg).show();
							return;
						}
					},
				});
			});
		}
		
		

		/*]]>*/
		</script>
</body>
</html>