<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
	   <meta charset="UTF-8"/>
	   <title>短信平台</title>
	   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	   <meta name="baidu-site-verification" content="zNwez22Bcq"/>
	   <meta name="google-site-verification" content="6hC_46bMT6_bGxmL_Ec5V_7xnPSnQBhQBl8y3MtfoFc" />
	   <meta name="Baiduspider" content="noarchive"/>
	   <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>  
    <link rel="shortcut icon" th:href="${oem.tab_logo_url}" />
		<link rel='stylesheet' href='css/reset.css' th:href="@{/css/reset.css}"/>
		<link rel='stylesheet' href='css/base.css' th:href="@{/css/base.css?v=1.0}"/>
		<link rel='stylesheet' href='css/oem.css' th:href="@{/css/oem.css?v=1.0}"/>
		<link rel='stylesheet' href='/css/main.css' th:href="@{/css/main.css?v=1.0}"/>
		<link rel="stylesheet" href="/font/iconfont.css" th:href="@{/font/iconfont.css}">
		<link rel='stylesheet' th:href="@{/css/ie10.css}" />
		
		<!--[if !IE]> -->
		<script src="js/jquery-3.0.0.min.js"  th:src="@{/js/jquery-3.0.0.min.js}"></script>
		<!-- <![endif]-->
		<!--[if IE]>
		<script th:src="@{/js/jquery-1.11.3.min.js}" ></script>
		<link rel='stylesheet' th:href="@{/css/ie9.css}" />
		<![endif]-->
		
		<script src="js/common.js" th:src="@{/js/common.js}"></script>
		<script src="js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
		<script src="js/layer/layer.js" th:src="@{/js/layer/layer.js}"></script>
    </head>
    
    <body  th:style="'color:' + ${oem.navigation_text_color} + ';'">
	<!--[if IE]>
 	<div style="background:yellow;width:100%;text-align:center;"><span style="color:red">您的浏览器版本过低，支持浏览器：Chrome 41+、Firefox 45+、IE 10+</span></div>
 	<![endif]--> 
    
        <div id="wrap" class="clearfix" >
        
      <!-- 左侧导航栏 bf-->
      <div id="sidebar" th:replace="console :: #sidebar">
        <div class="h100">
          <div class="logo"> 
            <a href="javascript:;"><img src="${ctx}/img/logo2.png"  /></a>
          </div>
          <div class="nav">
            <ul>
              <li><a href="${ctx}/order/getProductListByClientId" >首页</a></li>
              <li>
                <a href="javascript:void(0)">业务管理<i></i></a>
                <ul class="sub-nav" style="display:block;">
                  <li><a href="${ctx}/sms/page">短信发送<span></span></a></li>
                  <li><a href="${ctx}/bussiness/interShortMessage"  class="cur">国际短信报价<span></span></a></li>
                  <li><a href="${ctx}/bussiness/bussinessData">数据统计<span></span></a></li>
                  <li><a href="${ctx}/bussiness/query-sms-record">发送记录<span></span></a></li>
                  <li><a href="${ctx}/bussiness/expireSMS">短信到期<span></span></a></li>
                </ul>
              </li> 
              <li>
                <a href="javascript:void(0)">账户管理<i></i></a>
                <ul class="sub-nav">
                  <li><a href="${ctx}/account/accountInformation">账户资料<span></span></a></li>
                  <li><a href="${ctx}/account/securityInfo">账户安全<span></span></a></li>
                </ul>
              </li>
              <li>
                <a  href="${ctx}/helpCenter/smsAccessIntroduce">帮助中心</a> 
              </li>
            </ul>
          </div>
          <div class="contact-info"> 
            联系代理商<br/>
            138777777777<br/>
            服务热线<br/>
            400-777-9968<br/> 
          </div> 
        </div>
      </div>
      
      <!-- 左侧导航栏 ef -->
  
      <!-- 右边内容 bf -->
      <div id="main">
        <div class="main-con">
          <div class="top idx-top clearfix">
            <h1>国际短信价格</h1>
            <div class="top-r ft-r" th:replace="console :: user"> 
              <span class="right_border_line">ID: b00000</span>
              <a href="${ctx}/quit"><span class="glyphicon glyphicon-off"></span> 退出</a>
            </div>
          </div> 
          <div class="con-out">
          	<div class="content notes-content" >
						<div class="order-option clearfix">
							<form id="getInterShortMessageForm" action="${ctx}/bussiness/interShortMessage" method="post" th:action="@{/bussiness/price}">
								<div class="option-r ft-l"  style="margin-bottom: 10px;">
									<label>国家查询</label>
									<input type="text" name="countryInfo" id="countryInfo" th:value="${countryInfo }" placeholder="国际名称/国际代码/中文名称" />
									<span><a href="javascript:;" class="green-btn" onclick="getInterShortMessage()">查询</a></span>
								</div>
								
								<input id="pageRowCount" type="hidden" name="pageSize" th:value="${pageBean.pageSize}"/>
								<input id="currentPage" type="hidden" name="currentPage" th:value="${pageBean.currentPage}"/>
								<input id="pageSize" type="hidden" name="pageSize" th:value="${pageBean.pageSize}"/>
								<input id="totalCount" type="hidden" th:value="${pageBean.totalRows}"/>
								<input id="totalPages" type="hidden" th:value="${pageBean.totalPages}"/>
								<input id="goalPage" type="hidden" name="goalPage" value="" th:value="${pageBean.currentPage}"/>
								<input id="hasNextPage" type="hidden" th:value="${pageBean.hasNextPage }"/>
								<input id="hasPreviousPage" type="hidden" th:value="${pageBean.hasPreviousPage }"/>
													
							</form>
						</div>
						<div class="product-pack msm-notes clearfix">
							<table>
								<thead>
									<tr>
										<th>序号</th>
										<th>国际名称</th>
										<th>中文名称</th>
										<th>国际代码</th>
										<th>国际简码</th>
										<th>国际价格</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="tariff : ${pageBean.list}">
										<td th:text="${tariff.rownum}"></td>
										<td class="intername" th:text="${tariff.intername}"></td>
										<td class="areaname" th:text="${tariff.areaname}"></td>
										<td class="prefix" th:text="${tariff.prefix}"></td>
										<td th:text="${tariff.intercode}"></td>
										<td th:text="${tariff.fee}"></td>
									</tr>
									 <!-- 分页工具条 -->
				                    <tr>
				                      <td colspan="5" class="clearfix" style="width:100%;">
				                        <div class="pagination ft-r clearfix">
				                          <div class="show-count ft-l">共有<span class="allCount" th:text="${pageBean.totalRows}"> 1000 </span>条，每页显示
				                            <span class="select"><span th:text="${pageBean.pageSize}">10</span>
				                            <ul class="show-num">
				                              <li>5</li>
				                              <li>10</li>
				                              <li>15</li>
				                              <li>20</li>
				                            </ul>
				                            </span> 条
				                          </div>
				                          
				                          <ul class="pre-after ft-l">
				                            <li class="first"><a href="javascript:;" onclick="firstPage()"></a></li>
				                            <li class="pre"><a href="javascript:;" onclick="prePage()"></a></li>
				                            <li class="now"><a href="" th:text="${pageBean.currentPage}+'/'+${pageBean.totalPages}">1</a></li>
				                            <li class="after"><a href="javascript:;" onclick="afterPage()"></a></li>
				                            <li class="last"><a href="javascript:;" onclick="lastPage()"></a></li>
				                          </ul>
				                          <input id="jump-to" type="text" name="jump-to" style="position: relative; top: 0px;"/>
				                          <a href="javascript:;" onclick="jumpToPage()">跳转</a>
				                        </div>  
				                      </td>
				                    </tr>
								</tbody>
							</table>
						</div>
			</div>
            <div class="btm btm-copyright "  th:include="console :: footer">
              <p>© 2016 szchuzhong.com 版权所有 粤ICP备B2-20160275号</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 右边内容 ef -->
    </div>
    </body>
	<script src="/js/keywords.js" th:src="@{/js/keywords.js}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

    $(function() {
        var keywords = $("input[name='countryInfo']").val();
        if(keywords){
            var internameArr = $(".intername");
            var areanameArr = $(".areaname");
            var prefixArr = $(".prefix");
            for(var i = 0;i < internameArr.length;i++){

                if(	!/^[\d]+$/.test(i)){
                    continue;
                }
                handleKeyWords(internameArr[i],keywords);
            }
            for(var i = 0;i < areanameArr.length;i++){
                if(!/^[\d]+$/.test(i)){
                    continue;
                }
                handleKeyWords(areanameArr[i],keywords);
            }
            for(var i = 0;i < prefixArr.length;i++){
                if(!/^[\d]+$/.test(i)){
                    continue;
                }
                handleKeyWords(prefixArr[i],keywords);
            }
        }
    })
    $("#jump-to").keyup(function(){
		var val = $(this).val();
		if(!/^[1-9]\d*$/.test(val)){
			$(this).val("");
		}
	});
	
	var searchForm = $("#getInterShortMessageForm");

	function getInterShortMessage(){
        if(!isSessionValid()){ return }
		var goalPage = 1;
        var country = $("#countryInfo").val();
        $("#countryInfo").val($.trim(country));
  		searchForm.find("#goalPage").val(goalPage);
		searchForm.submit();
	}
	
	function getPageByNum(goalPage){
        if(!isSessionValid()){ return }
		searchForm.find("#goalPage").val(goalPage);
		searchForm.submit();
	}
	
	var reloadFun = function(){
//		var goalPage = $('#currentPage').val();
//		getPageByNum(goalPage);
        if(!isSessionValid()){ return }
		var goalPage = 1;
		searchForm.find("#goalPage").val(goalPage);
		searchForm.submit();
	}

	function prePage(){
		var hasPreviousPage = $('#hasPreviousPage').val();
		if(hasPreviousPage != "true"){
			layer.alert("已经首页！");
			return;
		}
		var goalPage = $('#currentPage').val()-1;
		getPageByNum(goalPage);
		}

		function afterPage(){
		var hasNextPage = $('#hasNextPage').val();
		if(hasNextPage != "true"){
			layer.alert("已经是最后一页！");
			return;
		}
		var goalPage = parseInt($('#currentPage').val())+1;
		getPageByNum(goalPage);
		}

		function jumpToPage(){
			var jumpPage =  $('#jump-to').val();
			if(jumpPage == ""){
				layer.alert("请输入跳转的页数");
				return;
			}

			var goalPage =parseInt(jumpPage);
			if(goalPage <1){
				goalPage = 1;
			}

			var lastPage = parseInt($('#totalPages').val());
			if(goalPage > lastPage){
				goalPage = lastPage;
			}

			getPageByNum(goalPage);
		}

		function firstPage(){
		var goalPage = 1;
			getPageByNum(goalPage);
		}

		function lastPage(){
			var goalPage = $('#totalPages').val();
			getPageByNum(goalPage);
		}

		/*]]>*/
		</script>
</html>