<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>短信平台</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="baidu-site-verification" content="zNwez22Bcq"/>
	<meta name="google-site-verification" content="6hC_46bMT6_bGxmL_Ec5V_7xnPSnQBhQBl8y3MtfoFc" />
	<meta name="Baiduspider" content="noarchive"/>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<link rel="shortcut icon" th:href="${oem.tab_logo_url}" />
	<link rel='stylesheet' href='css/reset.css' th:href="@{/css/reset.css?v=1.0}"/>
	<link rel='stylesheet' href='css/base.css' th:href="@{/css/base.css?v=1.0}"/>
	<link rel='stylesheet' href='css/oem.css' th:href="@{/css/oem.css?v=1.0}"/>
	<link rel='stylesheet' href='js/jedate/skin/jedate.css'  th:href="@{/js/jedate/skin/jedate.css}"/>
	<link rel='stylesheet' th:href="@{/css/ie10.css}" />
	<link rel='stylesheet' type='text/css' href='/font/iconfont.css?v=1.0'/>
	<link rel='stylesheet' href='/css/main.css' th:href="@{/css/main.css?v=1.0}"/>
	<link rel="stylesheet" href="/font/iconfont.css" th:href="@{/font/iconfont.css}">
	<!--[if !IE]> -->
	<script src="js/jquery-3.0.0.min.js"  th:src="@{/js/jquery-3.0.0.min.js}"></script>
	<!-- <![endif]-->
	<!--[if IE]>
	<script th:src="@{/js/jquery-1.11.3.min.js}" ></script>
	<link rel='stylesheet' th:href="@{/css/ie9.css}" />

	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/js/jquery-ui/css/theme/all.css" th:href="@{/js/jquery-ui/css/theme/all.css}"/>
	<link rel='stylesheet' type='text/css' href='/js/jedate/skin/jedate.css' th:href="@{/js/jedate/skin/jedate.css}"/>
	<script src="/js/common.js" th:src="@{/js/common.js}"></script>
	<script src="/js/layer/layer.js" th:src="@{/js/layer/layer.js}"></script>
	<script src="/js/validate/smsp.validate.js" th:src="@{/js/validate/smsp.validate.js}"></script>
	<script  src="/js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
	<script  src="/js/jquery-ui/js/datepicker.js" th:src="@{/js/jquery-ui/js/datepicker.js}"></script>
	<script  src="/js/datepicker.js" th:src="@{/js/datepicker.js}"></script>
	<script  src="/js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
	<script  src="/js/jedate/jedate.js" th:src="@{/js/jedate/jedate.js}"></script>
	<script  src="/js/keywords.js" th:src="@{/js/keywords.js}"></script>
	<script src="js/clipboard.min.js" th:src="@{/js/clipboard.min.js}"></script>
</head>
<style>
	.sendState{
		width:40px !important;
		min-width: 79px !important;
	}
	.order-option input{
		min-width: 110px;
	}
	.copy-p{
		position: relative;
		padding-right:50px;
	}
	.copy-p .btn-copy{
		position: absolute;
		top:10px;
		right:0;
		padding:0px 10px;
		line-height: 30px;
		border:1px solid #DDD;
		border-radius: 6px;

	}
</style>
<body  th:style="'color:' + ${oem.navigation_text_color} + ';'">
<!--[if IE]>
<div style="background:yellow;width:100%;text-align:center;"><span style="color:red">您的浏览器版本过低，支持浏览器：Chrome 41+、Firefox 45+、IE 10+</span></div>
<![endif]-->

<div id="wrap" class="clearfix" >

	<!-- 左侧导航栏 bf-->
	<div id="sidebar" th:replace="console :: #sidebar">
		<div class="h100">
			<div class="logo">
				<a href="javascript:;"><img src="${ctx}/img/logo2.png"  /></a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="${ctx}/order/getProductListByClientId" >首页</a></li>
					<li>
						<a href="javascript:void(0)">业务管理<i></i></a>
						<ul class="sub-nav" style="display:block;">
							<li><a href="${ctx}/sms/page" >短信发送<span></span></a></li>
							<li><a href="${ctx}/bussiness/interShortMessage" >国际短信报价<span></span></a></li>
							<li><a href="${ctx}/bussiness/bussinessData">数据统计<span></span></a></li>
							<li><a href="${ctx}/bussiness/query-sms-record"  class="cur">发送记录<span></span></a></li>
							<li><a href="${ctx}/bussiness/expireSMS">短信到期<span></span></a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)">账户管理<i></i></a>
						<ul class="sub-nav">
							<li><a href="${ctx}/account/accountInformation">账户资料<span></span></a></li>
							<li><a href="${ctx}/account/securityInfo">账户安全<span></span></a></li>
						</ul>
					</li>
					<li>
						<a  href="${ctx}/helpCenter/smsAccessIntroduce">帮助中心</a>
					</li>
				</ul>
			</div>
			<div class="contact-info">
				联系代理商<br/>
				138777777777<br/>
				服务热线<br/>
				400-777-9968<br/>
			</div>
		</div>
	</div>

	<!-- 左侧导航栏 ef -->

	<!-- 右边内容 bf -->
	<div id="main">
		<div class="main-con">
			<div class="top idx-top clearfix">
				<h1>短信发送记录</h1>
				<div class="top-r ft-r"   th:include="console :: user">
					<span class="right_border_line">ID: b00000</span>
					<a href="${ctx}/quit"><span class="glyphicon glyphicon-off"></span> 退出</a>
				</div>
			</div>
			<div th:if="${session.IS_OEM}" class="con-out">
				<form id="smsRecordForm" action="bussiness/record" method="post" th:action="@{/bussiness/record}">
					<div class="content idx-content">
						<div class="order-option clearfix">
							<div class="option-l ft-l">
								<div class="option-r ft-l" style="margin-top: 0px;width: 565px">
									<label>手机号码</label>
									<input type="text" id="mobile"  name="mobile" style="width: 110px" th:value="${mobile}"/>
									<label>内容</label>
									<input type="text" id="content" name="content" style="width: 110px" th:value="${content}"/>
									<label for="state">发送状态</label>
									<select name="state" id="state" class="sendState">
										<option value="" >全部</option>
										<option value="1">未知</option>
										<option value="0">发送中</option>
										<option value="3">发送成功</option>
										<option value="5,7,8,9,10">拦截</option>
										<option value="4,6">发送失败</option>
									</select>
								</div>

								<label>时间</label>
								<input type="text" id="date_start" name="start_time" placeholder="开始时间" readonly="readonly" th:value='${start_time}'/>
								<label>至</label>
								<input type="text" id="date_end" name="end_time" placeholder="结束时间" readonly="readonly" th:value='${end_time}'/>

								<!-- 									<input class="green-btn" type="submit" value="查询"/> -->
								<input class="green-btn" id="submitBtn" type="button" value="搜索" onclick="submitForm()" style="margin-top: 0px;"/>
							</div>
							<div class="option-r ft-r">
								<div class="export-excel" style="margin-top: 4px;">
									<a href="javascript:;" id="ifShow" onclick="exportSmsRecord(this)">
										<img alt="下载报表" src="img/export-excel.png" th:src="@{/img/export-excel.png}"/>下载报表
									</a>
								</div>
							</div>

							<input id="fileName" type="hidden" name="fileName" />
						</div>
						<div class="product-pack msm-notes clearfix">
							<table class="grid-table">
								<thead>
								<tr>
									<th class="th1">序号</th>
									<th class="th2">手机号</th>
									<th class="th3">发送内容</th>
									<th class="th4">发送状态</th>
									<th class="th5">状态码</th>
									<th class="th6">发送时间</th>
									<th class="th7">计费条数</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="v : ${page.list}">
									<td class="th1" th:text="${v.rownum}">1</td>
									<!--<td class="th2"><span th:text="${v.normalText1}"></span><span th:text="${v.redText}" style="color:#ff5454;"></span><span th:text="${v.normalText2}"></span></td>-->
									<td class="th2"><span th:text="${v.phone}"></span></td>
									<td class="th3"><span th:id="'content_'+${v.rownum}" style="cursor: pointer;display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" onclick="showContentTip(this)" th:text="${v.content}">哔哩哔哩</span></td>
									<td class="th4" th:text="${v.status}">发送成功</td>
									<td class="th5"><span th:text="${v.errorcode_name}" style="cursor: pointer;display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" onclick="showContentTip(this)">状态码说明</span></td>
									<td class="th6" th:text="${v.sendTime}">2016-11-26 14:45</td>
									<td class="th7" th:text="${v.charge_num}">1</td>
								</tr>

								<tr>
									<td colspan="6" class="clearfix" id="page-td">
										<div class="pagination ft-r clearfix">
											<div class="show-count ft-l">共有<span class="allCount" th:text="${page.totalCount}"> 10000</span>条，每页显示
												<span id="pageRowCountSpan" class="select"><span th:text="${page.pageRowCount}">10</span>
												<ul class="show-num">
													<li>5</li>
													<li>10</li>
													<li>15</li>
													<li>20</li>
												</ul>
												</span> 条
											</div>

											<ul class="pre-after ft-l" style="width: 38%;">
												<li class="first"><a href="javascript:;" onclick="topPage()"></a></li>
												<li class="pre"><a href="javascript:;" onclick="previousPage()"></a></li>
												<li class="now" style="width: 30%;"><a href="" th:text="${page.currentPage}+'/'+${page.totalPage}">1/10</a></li>
												<li class="after"><a href="javascript:;" onclick="nextPage()"></a></li>
												<li class="last"><a href="javascript:;" onclick="bottomPage()"></a></li>
											</ul>
											<input id="jump2PageNum" type="text" name="jump-to"/>
											<a href="javascript:;" onclick="jump2Page()" style="float:left">跳转</a>
										</div>
									</td>
								</tr>

								</tbody>
							</table>

						</div>
					</div>
					<input id="currentPage" type="hidden" name="currentPage" th:value="${page.currentPage}"/>
					<input id="pageRowCount" type="hidden" name="pageRowCount" th:value="${page.pageRowCount}"/>
					<input id="totalCount" type="hidden" th:value="${page.totalCount}"/>
					<input id="totalPage" type="hidden" th:value="${page.totalPage}"/>
					<input id="minDate" type="hidden" th:value="${minDate}"/>
				</form>
				<div class="btm btm-copyright "  th:include="console :: footer">
					<p>© 2016 szchuzhong.com 版权所有 粤ICP备B2-20160275号</p>
				</div>
			</div>
			<div th:if="!${session.IS_OEM}" class="con-out">
				<form id="smsRecordForm" method="post" th:action="@{/bussiness/record}">
					<div class="content notes-content shortMessage">
						<div class="order-option clearfix">
							<div class="option-r ft-l" style="margin-top: 0px;width: 565px">
								<label>手机号码</label>
								<input type="text" name="mobile" id="mobile" style="width: 110px" th:value="${mobile}"/>
								<label class="ml20">内容</label>
								<input type="text" id="content" name="content" style="width: 110px" th:value="${content}"/>
								<label for="state">&nbsp;发送状态&nbsp;</label>
								<select name="state" id="state" class="sendState">
									<option value="" >全部</option>
									<option value="1">未知</option>
									<option value="0">发送中</option>
									<option value="3">发送成功</option>
									<option value="5,7,8,9,10">拦截</option>
									<option value="4,6">发送失败</option>
								</select>
							</div>
							<div class="option-l ft-l">
								<label class="ml20">时间</label>
								<input type="text" id="date_start" name="start_time" placeholder="开始时间" readonly="readonly" th:value='${start_time}'/>
								<label>至</label>
								<input type="text" id="date_end" name="end_time" placeholder="结束时间" readonly="readonly" th:value='${end_time}'/>

							</div>
							<div class="option-r ft-l ml20">
								<input class="green-btn" id="submitBtn" type="button" value="搜索" onclick="submitForm()" style="margin-top:0;" />
								<a href="javascript:;" class="btn btn-white tx-c" onclick="exportSmsRecord(this)"  style="width:80px;">批量导出</a>
							</div>
						</div>
						<div class="msm-notes clearfix grid-record-table">
							<table class="grid-table bg-white grid-table-tx-c grid-table-border">
								<thead>
								<tr>
									<th class="td1">序号</th>
									<th class="td2">手机号</th>
									<th class="td3">短信类型</th>
									<th class="td4">发送内容</th>
									<th class="td5">发送状态</th>
									<th class="td3" style="width:230px">状态码</th>
									<th class="td6" style="width:145px">提交时间</th>
									<th class="td7" style="width:145px">发送时间</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="v:${page.list}">
									<td th:text="${v.rownum}"></td>
									<td class="col-phone" th:text="${v.phone}"></td>
									<td th:text="${v.smstype_name}">短信类型</td>
									<td class="temp-cont copy-p">
										<p class="col-content" th:text="${v.content}" onclick="showContentTip(this)"></p>
										<a href="javascript:;" class="btn-copy" th:attr="data-clipboard-text=${v.content}">复制</a>
									</td>
									<td th:text="${v.status}"></td>
									<td th:text="${v.errorcode_name}" style="cursor: pointer;max-width:100%;text-overflow:ellipsis;">错误码说明</td>
									<td th:text="${v.subTime}"></td>
									<td th:text="${v.sendTime}"></td>
								</tr>
								<tr>
									<td colspan="8" class="clearfix">
										<div class="pagination ft-r clearfix" >
											<div class="show-count ft-l">共有<span class="allCount" th:text="${page.totalCount}"> 20 </span>条，每页显示
												<span id="pageRowCountSpan" class="select"><span th:text="${page.pageRowCount}">5</span>
														<ul class="show-num">
															<li>5</li>
															<li>10</li>
															<li>15</li>
															<li>20</li>
														</ul>
														</span> 条
											</div>
											<ul class="pre-after ft-l">
												<li class="first"><a href="javascript:;" onclick="topPage()"></a></li>
												<li class="pre"><a href="javascript:;" onclick="previousPage()"></a></li>
												<li class="now"><a href="" th:text="${page.currentPage}+'/'+${page.totalPage}">10</a></li>
												<li class="after"><a href="javascript:;" onclick="nextPage()"></a></li>
												<li class="last"><a href="javascript:;" onclick="bottomPage()"></a></li>
											</ul>
											<div class="ft-l">
												<input id="jump2PageNum" type="text" class="jump-to" name="jump-to" style="position: relative; top: -5px;width:24px;"/>
												<a href="javascript:;" onclick="jump2Page()" class="btn-page">跳转</a>
											</div>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<input id="currentPage" type="hidden" name="currentPage" th:value="${page.currentPage}"/>
					<input id="pageRowCount" type="hidden" name="pageRowCount" th:value="${page.pageRowCount}"/>
					<input id="totalCount" type="hidden" th:value="${page.totalCount}"/>
					<input id="totalPage" type="hidden" th:value="${page.totalPage}"/>
					<input id="fileName" type="hidden" name="fileName" />
				</form>
				<div class="btm-copyright">
					<p>© 2016 ucpaas.com 版权所有 粤ICP备14046848号</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 右边内容 ef -->
</div>
</body>

<script th:inline="javascript">
	/*<![CDATA[*/
    var state =[[${state}]];
    $(function() {
        var clipboard = new Clipboard('.btn-copy');
        clipboard.on('success', function (e) {
            layer.msg("复制成功", {time: 1000})
        });
        clipboard.on('error', function (e) {
            layer.msg("复制失败，复制功能只支持 Chrome 42+、Firefox 41+、IE 9+、Opera 29+", {time: 3000})
        });
        if(state!=null&&state!=''){
            $("#state").val(state);
            // $("#state").find("option[value="+state+"]").attr("selected",true);
        }
        $( "#datepicker" ).datepicker();
        var content = $("#content").val();
        var mobile = $("#mobile").val();
        if(content){
            var contentArr = $(".col-content");
            for(var i = 0;i < contentArr.length;i++){

                if(!/^[\d]+$/.test(i)){
                    continue;
                }
                handleKeyWords(contentArr[i],content);
            }
        }
        if(mobile){
            var mobileArr = $(".col-phone");
            for(var i = 0;i < mobileArr.length;i++){
                if(!/^[\d]+$/.test(i)){
                    continue;
                }
                handleKeyWords(mobileArr[i],mobile);
            }
        }


    });

    //Date对象：date1 date2
    function isTheSameDay(date1,date2){
        if(date1 == date2){
            return true;
        }else{
            return false;
        }
    }

    function submitForm(){

        var date_start = $("#date_start").val();
        var date_end = $("#date_end").val();

        if(date_start == '' || date_end == ''){
            layer.alert('请输入开始时间和结束时间', {icon: 2});
            return;
        }

//        var d_start = new Date(date_start);
//        var d_end = new Date(date_end);


        var d_start = date_start.split(' ')[0];
        var d_end = date_end.split(' ')[0];

        var flag = isTheSameDay(d_start,d_end);


        if(flag == false){
            layer.alert('请输入同一天的日期', {icon: 2});
            return;
        }
        if(!isSessionValid()){ return }
        $("#smsRecordForm").find("#currentPage").val(1);
        $("#smsRecordForm").submit();
    }


    function checkSmsRecordNum(){

        var flag;
        $.ajax({
            type: "POST",
            url:/*[[@{/bussiness/checkSmsRecordNum}]]*/"${ctx}/bussiness/checkSmsRecordNum",
            data:$('#smsRecordForm').serialize(),
            async: false,
            success: function(data){
                flag = data.isSuccess;
            }
        });

        return flag;
    }


    // 导出短信记录Excel
    function exportSmsRecord(obj){

// 		var totalCount = ${page.totalCount};
// 		if (totalCount == 0) {
// 			layer.alert('根据条件查询到的记录数为0，导出Excel文件失败', {icon: 2}); 
// 			return;
// 		}

        var date_start = $("#date_start").val();
        var date_end = $("#date_end").val();
        if(date_start == '' || date_end == ''){
            layer.alert('请输入开始时间和结束时间', {icon: 2});
            return;
        }

        var d_start = date_start.split(' ')[0];
        var d_end = date_end.split(' ')[0];
        var flag = isTheSameDay(d_start,d_end);
        if(flag == false){
            layer.alert('请输入同一天的日期', {icon: 2});
            return;
        }

        //导出，实时校验数据库的数据
        var flag = checkSmsRecordNum();
        if(flag == false){
            layer.alert('根据条件查询到的记录数为0，导出Excel文件失败', {icon: 2});
            return;
        }

        var options = {
            beforeSubmit : function() {
                ityzl_SHOW_LOAD_LAYER("正在生成报表，请稍后...");
            },
            success : function(result) {
                layer.closeAll(); //疯狂模式，关闭所有层
                if(result.success){
                    $("#fileName").val(result.fileName);
                    var form = $("#smsRecordForm");
                    var action = form.attr("action");
                    form.attr("action",  /*[[@{/bussiness/downloadExcel}]]*/"bussiness/downloadExcel").submit();
                    form.attr("action", action);
                }
            },
            async: true,
            url :  /*[[@{/bussiness/exportRecord}]]*/"bussiness/export-sms-record",
            type : "post",
            timeout : 30000
        };
        $("#smsRecordForm").ajaxSubmit(options);
    }

    // 短信内容tips显示
    function showContentTip(obj){
        var contentDetail = obj.innerHTML;
        contentDetail = restoreContent(contentDetail);
        layer.tips(contentDetail, obj, { tips: [2, '#2ea967'], tmie:500 });
    }

    // ---------------- 分页 ----------------
    //查询某一页
    function getPageByNum(searchForm, pageNum){
        if(/^[1-9]\d*$/.test(pageNum)){
            // 设置当前页数
            searchForm.find("#currentPage").val(pageNum);
        }

        var date_start = $("#date_start").val();
        var date_end = $("#date_end").val();
        if(date_start == '' || date_end == ''){
            layer.alert('请输入开始时间和结束时间', {icon: 2});
            return;
        }

        var d_start = date_start.split(' ')[0];
        var d_end = date_end.split(' ')[0];
        var flag = isTheSameDay(d_start,d_end);
        if(flag == false){
            layer.alert('请输入同一天的日期', {icon: 2});
            return;
        }
        if(!isSessionValid()){ return }
        searchForm.submit();
    }

    var reloadFun = function(){
        var goalPage = $('#currentPage').val();
        getPageByNum(searchForm,goalPage);
    }

    var searchForm = $("#smsRecordForm");
    var currentPage = Number($('#currentPage').val());
    var totalPage = Number($('#totalPage').val());


    // 首页
    function topPage(){
        if(currentPage == 1){
            return;
        }
        getPageByNum(searchForm, 1);
    }

    // 最后一页
    function bottomPage(){
        if(currentPage == totalPage){
            return;
        }
        getPageByNum(searchForm, totalPage);
    }

    // 上一页
    function previousPage(){
        var previousPage = currentPage - 1;
        if(currentPage == 1){
            return;
        }
        getPageByNum(searchForm, previousPage);
    }

    // 下一页
    function nextPage(){
        var nextPage = currentPage + 1;
        if(currentPage == totalPage){
            return;
        }
        getPageByNum(searchForm, nextPage);
    }

    function jump2Page(){

        var jump2PageNum = $('#jump2PageNum').val();
        if(jump2PageNum == ""){
            layer.alert("请输入跳转的页数");
            return;
        }
        if(jump2PageNum<1 || jump2PageNum>totalPage){
            return;
        }
        getPageByNum(searchForm, jump2PageNum);
    }
    // ---------------- 分页 ----------------

    jeDate({
        dateCell: '#date_start',
        festival:true,
        minDate:$("#minDate").val(),        //最小日期
        format: 'YYYY-MM-DD hh:mm:ss'
    });

    jeDate({
        dateCell: '#date_end',
        festival:true,
        minDate:$("#minDate").val(),        //最小日期
        format: 'YYYY-MM-DD hh:mm:ss'
    });
	/*]]>*/
</script>

</html>