<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>短信平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="baidu-site-verification" content="zNwez22Bcq"/>
    <meta name="google-site-verification" content="6hC_46bMT6_bGxmL_Ec5V_7xnPSnQBhQBl8y3MtfoFc" />
    <meta name="Baiduspider" content="noarchive"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <link rel="shortcut icon"/>
    <link rel='stylesheet' href='css/tipso.min.css' th:href="@{/css/tipso.min.css}"/>
    <link rel='stylesheet' href='css/reset.css' th:href="@{/css/reset.css}"/>
    <link rel='stylesheet' href='css/base.css' th:href="@{/css/base.css?v=1.0}"/>
    <link rel='stylesheet' href='css/oem.css' th:href="@{/css/oem.css?v=1.0}"/>
    <link rel='stylesheet' th:href="@{/css/ie10.css}" />
    <link rel='stylesheet' type='text/css' href='/font/iconfont.css' th:href="@{/font/iconfont.css}"/>
    <link rel='stylesheet' type='text/css' href='/css/main.css' th:href="@{/css/main.css?v=1.0}" />
    <link rel='stylesheet' type='text/css' href='/js/jedate/skin/jedate.css' th:href="@{/js/jedate/skin/jedate.css}"/>
    <!--[if !IE]> -->
    <script src="js/jquery-3.0.0.min.js"  th:src="@{/js/jquery-3.0.0.min.js}"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script th:src="@{/js/jquery-1.11.3.min.js}" ></script>
    <link rel='stylesheet' th:href="@{/css/ie9.css}" />
    <![endif]-->

    <script src="js/common.js" th:src="@{/js/common.js}"></script>
    <script src="js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
    <script src="js/layer/layer.js" th:src="@{/js/layer/layer.js}"></script>
    <script  src="js/jedate/jedate.js" th:src="@{/js/jedate/jedate.js}"></script>
    <style>
        .green-btn{
            margin-top:0 !important;
        }
    </style>
</head>
<body>
<!--[if IE]>
<div style="background:yellow;width:100%;text-align:center;"><span style="color:red">您的浏览器版本过低，支持浏览器：Chrome 41+、Firefox 45+、IE 10+</span></div>
<![endif]-->
<div id="wrap" class="clearfix" th:style="'color:' + ${oem.navigation_text_color} + ';'">
    <!-- 左侧导航 -->
    <div id="sidebar" th:replace="console :: #sidebar"></div>
    <!-- 右侧内容 -->
    <div id="main">
        <div class="main-con">
            <div class="top idx-top clearfix">
                <h1>我的订单</h1>
                <div class="top-r ft-r"  th:include="console :: user">
                    <span class="right_border_line">ID: b00000</span>
                    <a href="${ctx}/quit"><span class="glyphicon glyphicon-off"></span> 退出</a>
                </div>
            </div>
            <div class="con-out">
                <div class="content order-content">
                    <div class="order-option clearfix">
                        <form id="getOrderForm"  method="get">
                            <div class="option-l ft-l">
                                <label>订单状态</label>
                                <span class="state">所有</span>
                                <ul class="state-list">
                                    <li value="100">所有</li>
                                    <li value="0">审核中</li>
                                    <li value="1">订单生效</li>
                                    <li value="2">订单完成</li>
                                    <li value="3">订单失败</li>
                                    <li value="4">订单取消</li>
                                </ul>
                                <input id="orderStatus" name="state" type="hidden" />
                                <label>到期时间</label>
                                <input type="text" id="date_start" name="startTime"  placeholder="开始时间" readonly="readonly" onclick="hideState()" />
                                <label>至</label>
                                <input type="text" id="date_end" name="endTime"  placeholder="结束时间" readonly="readonly" onclick="hideState()" />
                            </div>
                            <div class="option-r ft-r">
                                <label>订单号/产品名称</label>
                                <input type="text" name="orderCode_productName" />
                                <span><a href="javascript:;" class="green-btn" onclick="getOrderList()">查询</a></span>
                                <span><a href="javascript:;" class="green-btn" onclick="exportorder(this)">导出excel</a></span>
                            </div>
                            <input id="pageRowCount" type="hidden" name="pageSize" th:value="${pageBean.pageSize}"/>
                            <input id="goalPage" type="hidden" name="goalPage" value=""/>
                            <input id="fileName" type="hidden" name="fileName"/>
                        </form>
                    </div>
                    <div class="product-pack order-detail clearfix">
                        <table>
                            <thead>
                            <tr width="100%;">
                                <th style="width: 8%">序号</th>
                                <th style="width: 12%">订单号</th>
                                <th style="width: 8%">产品代码</th>
                                <th style="width: 6%">产品名称</th>
                                <th style="width: 6%">产品类型</th>
                                <th style="width: 6%">运营商</th>
                                <th style="width: 6%">区域</th>
                                <th style="width: 8%">总数量</th>
                                <th style="width: 8%">剩余数量</th>
                                <th style="width: 8%">到期时间</th>
                                <th style="width: 8%">订单状态</th>
                                <th style="width: 16%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="orderInfo,iterStat:${pageBean.list }">
                                <td style="width: 8%" th:text="${iterStat.count}"></td>
                                <td style="width: 12%" class="col-orderId" th:text="${orderInfo.orderId}"></td>
                                <td style="width: 8%" class="col-orderId" th:text="${orderInfo.productCode}"></td>
                                <td style="cursor: pointer; width: 6%" onclick="showContentTip(this)" class="col-productname" th:text="${orderInfo.productName}"></td>
                                <td style="width: 6%" th:text="${orderInfo.productTypeName}"></td>
                                <td style="width: 6%" th:text="${orderInfo.operatorCodeName}"></td>
                                <td style="width: 6%" th:text="${orderInfo.areaCodeName}"></td>
                                <td style="width: 6%" th:text="${orderInfo.quantityStr}"></td>
                                <td style="width: 10%" th:text="${orderInfo.remainQuantityStr}"></td>
                                <td style="width: 10%" th:text="${orderInfo.endTimeStr}"></td>
                                <td style="width: 8%" name="statusName" th:text="${orderInfo.statusName}"></td>
                                <td style="width: 12%">
                                    <i class="check"><a href="javascript:;" id="view" class="js-view" th:attr="data-subid=${orderInfo.subId}">详情</a></i>
                                    <i class="cancel"><a href="javascript:;" id="cancel" class="js-cancle" th:attr="data-subid=${orderInfo.subId}" th:if="${orderInfo.status eq 0}">取消订单</a></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12" class="clearfix">
                                    <div class="pagination ft-r clearfix">
                                        <div class="show-count ft-l">共有<span class="allCount" th:text="${pageBean.totalRows }">  </span>条，每页显示
                                            <span class="select"><span th:text="${pageBean.pageSize}"></span>
														<ul class="show-num">
															<li>5</li>
															<li>10</li>
															<li>15</li>
															<li>20</li>
														</ul>
													</span> 条
                                        </div>
                                        <input id="currentPage" type="hidden" th:value="${pageBean.currentPage }"/>
                                        <input id="totalPages" type="hidden" th:value="${pageBean.totalPages }"/>
                                        <input id="hasNextPage" type="hidden" th:value="${pageBean.hasNextPage }"/>
                                        <input id="hasPreviousPage" type="hidden" th:value="${pageBean.hasPreviousPage }"/>
                                        <ul class="pre-after ft-l">
                                            <li class="first">
                                                <a href="javascript:;" onclick="firstPage()"></a>
                                            </li>
                                            <li class="pre">
                                                <a href="javascript:;" onclick="prePage()"></a>
                                            </li>
                                            <li class="now"><a href="javascript:;" th:text="${pageBean.currentPage}+'/'+${pageBean.totalPages}">555555</a></li>
                                            <li class="after">
                                                <a href="javascript:;" onclick="afterPage()"></a>
                                            </li>
                                            <li class="last">
                                                <a href="javascript:;" onclick="lastPage()"></a>
                                            </li>
                                        </ul>
                                        <input id="jump-to" type="text" name="jump-to" />
                                        <a href="javascript:;" class="ft-l" onclick="jumpToPage()">跳转</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="btm btm-copyright " th:include="console :: footer">
                    <p>© 2016 szchuzhong.com 版权所有 粤ICP备B2-20160275号</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script  th:inline="javascript">
    /*<![CDATA[*/

    var totalCount = [[pageBean.totalRows]];

    $("#jump-to").keyup(function() {
        var val = $(this).val();
        if (!/^[1-9]\d*$/.test(val)) {
            $(this).val("");
        }
    });

    //确认取消
    function confirmCancel(subId) {

        $.ajax({
            type: "POST",
            url: /*[[@{/finance/order/cancelOrder}]]*/"/order/cancelOrder",
            data: 'subId=' + subId,
            async: false,
            success: function(data) {

                if (data.isSuccess == null) {
                    layer.alert(data.message, function(index) {
                        location.reload();
                        layer.close(index);
                    });
                    return;
                }

                if (data.isSuccess == true) {
                    layer.alert(data.message, function(index) {
                        location.reload();
                        layer.close(index);
                    });
                } else {
                    layer.alert(data.message, function(index) {
                        location.reload();
                        layer.close(index);
                    });
                }
            }

        });

    }



    var searchForm = $("#getOrderForm");

    function getOrderList() {
        var goalPage = 1;
        if(!isSessionValid()){return}
        searchForm.find("#goalPage").val(goalPage);
        searchForm.submit();
    }

    function getPageByNum(goalPage) {
        if(!isSessionValid()){return}
        searchForm.find("#goalPage").val(goalPage);
        searchForm.submit();
    }

    var reloadFun = function() {
        //     		var goalPage = $('#currentPage').val();
        //     		getPageByNum(goalPage);

        var goalPage = 1;
        if(!isSessionValid()){return}
        searchForm.find("#goalPage").val(goalPage);
        searchForm.submit();

    }

    function prePage() {
        var hasPreviousPage = $('#hasPreviousPage').val();
        if (hasPreviousPage != "true") {
            layer.alert("已经首页！");
            return;
        }
        var goalPage = $('#currentPage').val() - 1;
        getPageByNum(goalPage);
    }

    function afterPage() {
        var hasNextPage = $('#hasNextPage').val();
        if (hasNextPage != "true") {
            layer.alert("已经是最后一页！");
            return;
        }
        var goalPage = parseInt($('#currentPage').val()) + 1;
        getPageByNum(goalPage);
    }

    function jumpToPage() {
        var jumpPage = $('#jump-to').val();
        if (jumpPage == "") {
            layer.alert("请输入跳转的页数");
            return;
        }

        var goalPage = parseInt(jumpPage);
        if (goalPage < 1) {
            goalPage = 1;
        }

        var lastPage = parseInt($('#totalPages').val());
        if (goalPage > lastPage) {
            goalPage = lastPage;
        }

        if (goalPage == 0) {
            $("#jump-to").val("");
            return;
        }

        getPageByNum(goalPage);
    }

    function firstPage() {

        /* var totalPages = $('#totalPages').val();
         if(parseInt(totalPages) == 0){
         layer.alert("已经是首页！");
         return;
         } */

        var goalPage = 1;
        getPageByNum(goalPage);
    }

    function lastPage() {
        var goalPage = $('#totalPages').val();

        /* if(parseInt(goalPage) == 0){
         layer.alert("已经是最后一页！");
         return;
         } */

        getPageByNum(goalPage);
    }

    jeDate({
        dateCell: '#date_start',
        festival:false,
        format: 'YYYY-MM-DD hh:mm:ss'
    });
    jeDate({
        dateCell: '#date_end',
        festival:false,
        format: 'YYYY-MM-DD hh:mm:ss'
    });

    /*$.jeDate('#date_start',{
     festival: false,
     format: 'YYYY-MM-DD hh:mm:ss'
     });

     $.jeDate('#date_end',{
     festival: false,
     format: 'YYYY-MM-DD hh:mm:ss'
     });*/

    function showContentTip(obj) {
        var contentId = "#" + obj.id;
        var contentDetail = obj.innerHTML;
        contentDetail = restoreContent(contentDetail);
        layer.tips(contentDetail, obj, {
            tips: [2, '#2ea967'],
            tmie: 500
        });
    }

    function hideState() {
        $(".state-list").hide();
    };

    $(function() {
        $(document).bind("click", function(e) {
            var target = $(e.target);
            if (target.closest(".state").length == 0 && target.closest(".state-list").length == 0) {
                $(".state-list").hide();
            }
        })

        $("[name='statusName']").each(function(i, e) {
            if ("审核中" == $(e).html()) {
                $(e).html("<span style=\"color:#40C57C\">审核中</span>");
            }
        });

        $(".js-view").on("click",function(){
            var subId = $(this).data("subid");
            var detailUrl = /*[[@{/finance/order/getOrderDetail}]]*/;
            location.href = detailUrl+"?subId=" + subId;
        });
        $(".js-cancle").on("click",function(){
            var subId = $(this).data("subid");
            layer.confirm('确定取消订单?', function(index) {
                confirmCancel(subId);
                layer.close(index);
            });
        });

        var orderCode_productName = $("input[name=orderCode_productName]").val();
        if(orderCode_productName){
            var productNameArr = $(".col-productname");
            for(var i = 0;i < productNameArr.length;i++){

                if(	!/^[\d]+$/.test(i)){
                    continue;
                }
                handleKeyWords(productNameArr[i],orderCode_productName);
            }
            var orderIdArr = $(".col-orderId");
            for(var i = 0;i < orderIdArr.length;i++){

                if(	!/^[\d]+$/.test(i)){
                    continue;
                }
                handleKeyWords(orderIdArr[i],orderCode_productName);
            }
        }

    });

    // 导出订单Excel
//    function exportorder(obj){
//        var options = {
//            beforeSubmit : function() {
//                ityzl_SHOW_LOAD_LAYER("正在生成报表，请稍后...");
//            },
//            success : function(result) {
//                layer.closeAll(); //疯狂模式，关闭所有层
//                if(result.success){
//                    $("#fileName").val(result.fileName);
//                    var form = $("#getOrderForm");
//                    var action = form.attr("action");
//                    form.attr("action",  /*[[@{/finance/order/downloadExcel}]]*/"order/downloadExcel").submit();
//                    form.attr("action", action);
//                }else{
//                    layer.alert(result.msg, {icon: 2});
//                }
//            },
//            async: true,
//            url :  /*[[@{/finance/order/exportOrder}]]*/"order/exportOrder",
//            type : "get",
//            timeout : 30000
//        };
//        $("#getOrderForm").ajaxSubmit(options);
//    }

    //导出Excel文件
    function exportorder(obj) {
        if (totalCount == 0) {
            layer.msg("共0条记录，将不导出Excel文件", {icon: 2});
            return;
        }

        var mainForm = $("#getOrderForm");
        var action = mainForm.attr("action");
        var exporUrl = /*[[@{/finance/order/exportOrder}]]*/;
        mainForm.attr("action", exporUrl).submit();
        mainForm.attr("action", action);
    }

    /*]]>*/
</script>
</body>
</html>