html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


body{
	background-color: #63BAD8;
}



#content{
	background-color: #FFFFFF;
	width: 500px;
	height: 230px;
	margin: auto;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

#content #content_login{
	margin-top: 70px;
	margin-left: 100px;
}

#content #content_button{
	margin-top: 15px;
	margin-left: 170px;
}
