<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smsAcc">

	<resultMap id="smsAccountModel" type="com.ucpaas.sms.model.SmsAccountModel" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="clientid" property="clientId" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sid" property="sid" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="agent_id" property="agentId" jdbcType="INTEGER" />
		<result column="oauth_status" property="oauthStatus" jdbcType="INTEGER" />
		<result column="oauth_date" property="oauthDate" jdbcType="TIMESTAMP" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="client_level" property="clientLevel" jdbcType="INTEGER" />
		<result column="client_type" property="clientType" jdbcType="INTEGER" />
		<result column="needreport" property="needreport" jdbcType="INTEGER" />
		<result column="needmo" property="needmo" jdbcType="INTEGER" />
		<result column="needaudit" property="needaudit" jdbcType="INTEGER" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="moip" property="moip" jdbcType="VARCHAR" />
		<result column="moport" property="moport" jdbcType="VARCHAR" />
		<result column="nodeid" property="nodeid" jdbcType="VARCHAR" />
		<result column="deliveryurl" property="deliveryurl" jdbcType="VARCHAR" />
		<result column="mourl" property="mourl" jdbcType="VARCHAR" />
		<result column="noticeurl" property="noticeurl" jdbcType="VARCHAR" />
		<result column="nodenum" property="nodenum" jdbcType="INTEGER" />
		<result column="paytype" property="paytype" jdbcType="INTEGER" />
		<result column="needextend" property="needextend" jdbcType="INTEGER" />
		<result column="signextend" property="signextend" jdbcType="INTEGER" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
 	 </resultMap>
 	 
	<!--  1. 获取用户账户的基本信息(根据clientId) -->
 	<select id="getAccountInfo" resultMap="smsAccountModel">
 		SELECT
			name,
			clientid,
			sid,
			status,
			paytype,
			createtime,
			agent_id,
			oauth_status,
			oauth_date,
			needreport,
			realname,
			address,
			mobile,
			email,
			needmo,
			needaudit,
			deliveryurl,
			mourl,
			noticeurl,
			nodenum,
			client_level,
			client_type,
			needextend,
			signextend,
			CASE
				WHEN ip = '*' THEN ''
				ELSE ip
			END AS ip,
			moip,
		 	moport,
		 	nodeid,
			remarks,
			IFNULL(province,'') as province,
			IFNULL(city,'') as city,
			IFNULL(area,'') as area,
			moip,
			moport,
			nodeid
		FROM
			t_sms_account
		WHERE
			clientid = #{clientId}
	</select>
 	 
 	<!-- 2. 修改账户的基本信息 -->
 	<update id="updateAccountInfo">
		UPDATE
		t_sms_account
		<trim prefix="set" suffixOverrides=",">
			<if test="address != null and address != ''">address = #{address},</if>
			<if test="realname!=null and realname!=''">realname=#{realname},</if>
			<if test="ip!=null and ip != ''">ip=#{ip},</if>
			deliveryurl=#{deliveryurl},
			mourl=#{mourl},
			<if test="province!=null and province != ''">province=#{province},</if>
			<if test="city!=null and city != ''">city=#{city},</if>
			<if test="area!=null and area!= ''">area=#{area},</if>
			<if test="updateTime != null">updatetime = #{updateTime},</if>
			noticeurl = #{noticeurl},
			<if test="moip != null and moip != ''">moip = #{moip},</if>
			<if test="moport != null and moport != '' ">moport = #{moport},</if>
			<if test="nodeid != null and nodeid != ''">nodeid = #{nodeid},</if>
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="mobile != null and mobile != '' ">mobile = #{mobile},</if>
			<if test="email != null and email != ''">email = #{email},</if>
		</trim>
		WHERE
		clientid = #{clientId}
	</update>

 	<!-- 3. 获取客户资质信息 -->
	<select id="getCerInfo" resultType="com.ucpaas.sms.model.SmsOauthPic">
		SELECT
			p.id,
			p.agent_id AS agentId,
			p.client_id AS clientId,
			p.id_nbr AS idNbr,
			p.img_url AS imgUrl,
			p.id_type AS idType,
			p.id_order AS idOrder,
			p.id_desc AS idDesc,
			p.create_date AS createDate,
			p.update_date AS updateDate,
			p.status,
			p.id_nbr2 AS idNbr2,
			p.id_nbr3 AS idNbr3,
			p.remote_path AS remotePath,
			a.oauth_status AS oauthStatus,
			a.realname,
			a.client_type AS clientType,
			p.oauth_type AS oauthType
		FROM
			t_sms_account a
		LEFT JOIN 
			t_sms_oauth_pic p 
		ON a.clientid = p.client_id AND p.oauth_type = 2
		WHERE
			a.clientid = #{clientId}
<!-- 		LEFT JOIN -->
<!-- 			t_sms_oauth_pic p -->
<!-- 		ON a.clientid = p.client_id -->
<!-- 		WHERE p.client_id = #{clientId} -->
<!-- 			AND p.oauth_type = 2; -->
	</select>
 	
 	<!-- 4. 获取未通过客户资质未通过认证的原因 -->
 	<select id="getNotPassRemark" resultType="string">
 		SELECT
			ol.remark
		FROM
			t_sms_oauth_audit_log ol
		WHERE
			id = (
				SELECT
					MAX(id)
				FROM
					t_sms_oauth_audit_log l
				WHERE
					l.audit_type = 2
				AND
					l.status = 0
				AND
					l.client_id = #{clientId}
			)
 	</select>
 	
 	<!-- 5. 添加用户资质 -->
	<insert id="addCerInfo">
		INSERT INTO t_sms_oauth_pic (
			agent_id,
			client_id,
			id_nbr,
			img_url,
			id_type,
			create_date,
			update_date,
			oauth_type
		)
		VALUE
			(
				#{agentId},
				#{clientId},
				#{idNbr},
				#{imgUrl},
				#{idType},
				NOW(),
				#{updateDate},
				#{oauthType}
			)
	
	</insert>	
 	<!-- 6. 添加用户资质 -->
	<insert id="updateCerInfo">
		UPDATE
			t_sms_oauth_pic p
		<set>
			<if test="idNbr != null and idNbr != ''">
				p.id_nbr = #{idNbr},
			</if>
			<if test="imgUrl != null and imgUrl != ''">
			p.img_url = #{imgUrl},
			</if>		
			<if test="idType != null and idType != ''">
			p.id_type = #{idType},
			</if>
			p.update_date = #{updateDate}
		</set>
		WHERE
			p.client_id = #{clientId}
	
	</insert>	
	
	<!-- 7. 修改客户资质同时修改客户的更新信息(将客户资质认证状态更新至待认证) -->
 	<update id="updateAccountWithCer">
		UPDATE
 	 		t_sms_account
		SET
			client_type = #{clientType},updatetime = #{updateDate},realname = #{realname},oauth_status = 2
		WHERE
			clientid = #{clientId} 
 	</update>

	<!-- 8. 检查用户密码是否正确 -->
	<select id="checkPassword" resultType="string">
 		SELECT
			t.web_password
		FROM
			t_sms_client_info_ext t
		WHERE
			t.clientid = #{clientId}
 	</select>

	<!-- 9. 修改用户密码 -->
	<update id="updatePassword">
	 	UPDATE
	 		t_sms_client_info_ext
		SET
			web_password = #{password}
		WHERE
			clientid = #{clientId}
 	</update>
 	
 	<select id="getAccountInfoToMap" resultType="map">
 		SELECT
			name,
			clientid,
			sid,
			case status
			when 0 then '注册未激活'
			when 1 then '注册完成'
			when 5 then '冻结'
			when 6 then '注销'
			when 7 then '锁定'
			else '未知' end as status_name,
			paytype,
			createtime,
			DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%S') as createtime_str,
			agent_id,
			case oauth_status
			when 2 then '待认证'
			when 3 then '已认证'
			else '未知' end as oauth_status_name,
			oauth_date,
			DATE_FORMAT(oauth_date,'%Y-%m-%d %H:%i:%S') as oauth_date_str,
			needreport,
			realname,
			address,
			mobile,
			email,
			needmo,
			needaudit,
			deliveryurl,
			mourl,
			nodenum,
			client_level,
			client_type,
			needextend,
			signextend,
			CASE
				WHEN ip = '*' THEN ''
				ELSE ip
			END AS ip,
			remarks,
			province,
			city,
			area
		FROM
			t_sms_account
		WHERE
			clientid = #{clientId}
	</select>

	<!--修改账户前,检测信息是否重复-->
	<select id="checkDuplicate" resultType="map">
		SELECT
			email,
			mobile
		FROM
		  t_sms_account
		WHERE
			clientid != #{clientId}
			AND (
				email = #{email}
				OR mobile = #{mobile}
			)


	</select>
 	
</mapper>
