<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">

	<resultMap id="testModel" type="com.ucpaas.sms.model.TestModel" >
    	 <result column="filed1" property="filed1" jdbcType="VARCHAR" />
   		 <result column="filed2" property="filed2" jdbcType="VARCHAR" />
 	 </resultMap>

	<select id="query" resultMap="testModel">
		select * from t_sms_test
	</select>
	
</mapper> 