<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userCenter" >


	<select id="checkAgentApplyStatusById" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM t_sms_agent_apply WHERE id = #{applyId} AND status = 0
	</select>

	<update id="updateApplyInfoById">
		UPDATE
		t_sms_agent_apply
		<set>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="belongSale != null and belongSale != ''">
				belong_sale = #{belongSale},
			</if>
			<if test="reason != null and reason != ''">
				reason = #{reason}
			</if>
		</set>
		WHERE
		id = #{applyId}
	</update>

	<select id="querySmsMailprop" resultType="map">
		SELECT
		frm,
		tonbr,
		subject,
		text,
		type
		FROM
		t_sms_mailprop
		WHERE
		id = #{id}
	</select>


	<select id="queryAgentApplyById" resultType="map">
		SELECT
		id,
		company,
		address,
		realname,
		email,
		mobile,
		city,
		remark,
		status,
		reason,
		create_time
		FROM
		t_sms_agent_apply
		WHERE
		id = #{applyId}
	</select>


	<select id="querySmsUserCountByEmail" resultType="int">
		SELECT
		count(id)
		FROM
		t_sms_user
		WHERE
		1 = 1
		and
		email = #{email}
		and
		web_id IN (2,4)
	</select>

	<insert id="insertSmsUser" keyProperty="id" useGeneratedKeys="true">

		INSERT INTO t_sms_user(
		sid,
		username,
		email,
		password,
		user_type,
		status,
		mobile,
		realname,
		create_date,
		update_date,
		login_times,
		web_id
		) VALUES(
		#{sid},
		#{username},
		#{email},
		#{password},
		#{user_type},
		#{status},
		#{mobile},
		#{realname},
		#{create_date},
		#{update_date},
		#{login_times},
		#{web_id}
		)

	</insert>

	<insert id="insertSmsAgentInfo">
		INSERT INTO
		t_sms_agent_info(
		agent_id,
		admin_id,
		agent_name,
		shorter_name,
		agent_type,
		status,
		oauth_status,
		oauth_date,
		address,
		company,
		company_nbr,
		mobile,
		belong_sale,
		create_time,
		update_time,
		remark
		) values(
		#{agent_id},
		#{admin_id},
		#{agent_name},
		#{shorter_name},
		#{agent_type},
		#{status},
		#{oauth_status},
		#{oauth_date},
		#{address},
		#{company},
		#{company_nbr},
		#{mobile},
		#{belong_sale},
		#{create_time},
		#{update_time},
		#{remark}
		)

	</insert>


	<insert id="insertSmsAgentAccount">
		INSERT INTO
		t_sms_agent_account(
		agent_id,
		balance,
		credit_balance,
		accumulated_income,
		commission_income,
		accumulated_recharge
		)values(
		#{agent_id},
		#{balance},
		#{credit_balance},
		#{accumulated_income},
		#{commission_income},
		#{accumulated_recharge}
		)
	</insert>


	<select id="queryOemRoleId" resultType="int">
		SELECT
		id
		FROM
		t_sms_role
		WHERE
		role_name = 'OEM代理商'
	</select>

	<insert id="insertSmsUserRole">
		INSERT INTO
		t_sms_user_role(
		ru_id,
		role_id,
		user_id
		)VALUES(
		null,
		#{role_id},
		#{user_id}
		)
	</insert>
</mapper>